body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.text-wrap {
  word-wrap: break-word;
}

.bot-army {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
}

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}

.ui.card:hover{
  transform: scale(1.1)
}



.new-plant-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: black;
  color: white;
}

.new-plant-form form {
  display: flex;
  justify-content: center;
}

.new-plant-form input {
  margin-right: 2rem;
  flex: 1;
}

.new-plant-form button {
  width: 150px;
}

input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid gray;
  transition: all 0.2s;
  width: 100%;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--green);
}

